<h1>Découverte du dataset</h1>

In [1]:
import pandas as pd
chemin=r"C:\Users\dell\Documents\Perso\cours_python\Datafiniti_Womens_Shoes.csv"
shoes=pd.read_csv(chemin, encoding='utf-8', sep=',')
shoes.head()

,id,dateAdded,dateUpdated,asins,brand,categories,primaryCategories,colors,dimension,ean,...,prices.merchant,prices.offer,prices.returnPolicy,prices.shipping,prices.size,prices.sourceURLs,sizes,sourceURLs,upc,weight
0,AVpfEf_hLJeJML431ueH,2015-05-04T12:13:08Z,2018-01-29T04:38:43Z,NaN,Naturalizer,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",Shoes,"Silver,Cream Watercolor Floral",NaN,NaN,...,Overstock.com,NaN,NaN,NaN,S,https://www.overstock.com/Clothing-Shoes/Women...,"6W,9W,7.5W,12W,8.5M,9N,9M,9.5M,10.5M,10W,8.5W,...",https://www.walmart.com/ip/Naturalizer-Danya-W...,017136472311,NaN
1,AVpi74XfLJeJML43qZAc,2017-01-27T01:23:39Z,2018-01-03T05:21:54Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",Shoes,Grey,NaN,3.397705e+10,...,Walmart.com,NaN,NaN,Standard,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,033977045743,NaN
2,AVpi74XfLJeJML43qZAc,2017-01-27T01:23:39Z,2018-01-03T05:21:54Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",Shoes,Grey,NaN,3.397705e+10,...,Slippers Dot Com,NaN,NaN,Value,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,033977045743,NaN
3,AVpjXyCc1cnluZ0-V-Gj,2017-01-27T01:25:56Z,2018-01-04T11:52:35Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...","Shoes,Shoes",Black,6.0 in x 6.0 in x 1.0 in,3.397705e+10,...,Slippers Dot Com,NaN,NaN,Value,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,033977045903,NaN
4,AVphGKLPilAPnD_x1Nrm,2017-01-27T01:25:56Z,2018-01-18T03:55:18Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",Shoes,Grey,6.0 in x 6.0 in x 1.0 in,3.397705e+10,...,Walmart.com,NaN,NaN,Expedited,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,033977045958,NaN

In [2]:
pd.set_option("display.max_row",35)

In [3]:
shoes.head()

,id,dateAdded,dateUpdated,asins,brand,categories,primaryCategories,colors,dimension,ean,...,prices.merchant,prices.offer,prices.returnPolicy,prices.shipping,prices.size,prices.sourceURLs,sizes,sourceURLs,upc,weight
0,AVpfEf_hLJeJML431ueH,2015-05-04T12:13:08Z,2018-01-29T04:38:43Z,NaN,Naturalizer,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",Shoes,"Silver,Cream Watercolor Floral",NaN,NaN,...,Overstock.com,NaN,NaN,NaN,S,https://www.overstock.com/Clothing-Shoes/Women...,"6W,9W,7.5W,12W,8.5M,9N,9M,9.5M,10.5M,10W,8.5W,...",https://www.walmart.com/ip/Naturalizer-Danya-W...,017136472311,NaN
1,AVpi74XfLJeJML43qZAc,2017-01-27T01:23:39Z,2018-01-03T05:21:54Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",Shoes,Grey,NaN,3.397705e+10,...,Walmart.com,NaN,NaN,Standard,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,033977045743,NaN
2,AVpi74XfLJeJML43qZAc,2017-01-27T01:23:39Z,2018-01-03T05:21:54Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",Shoes,Grey,NaN,3.397705e+10,...,Slippers Dot Com,NaN,NaN,Value,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,033977045743,NaN
3,AVpjXyCc1cnluZ0-V-Gj,2017-01-27T01:25:56Z,2018-01-04T11:52:35Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...","Shoes,Shoes",Black,6.0 in x 6.0 in x 1.0 in,3.397705e+10,...,Slippers Dot Com,NaN,NaN,Value,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,033977045903,NaN
4,AVphGKLPilAPnD_x1Nrm,2017-01-27T01:25:56Z,2018-01-18T03:55:18Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",Shoes,Grey,6.0 in x 6.0 in x 1.0 in,3.397705e+10,...,Walmart.com,NaN,NaN,Expedited,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,033977045958,NaN

In [4]:
filtre=["id","brand","dateUpdated","colors","prices.amountMax","prices.amountMin","prices.merchant"]
shoesLight=shoes[filtre]

In [5]:
shoesLight.head()

,id,brand,dateUpdated,colors,prices.amountMax,prices.amountMin,prices.merchant
0,AVpfEf_hLJeJML431ueH,Naturalizer,2018-01-29T04:38:43Z,"Silver,Cream Watercolor Floral",55.99,55.99,Overstock.com
1,AVpi74XfLJeJML43qZAc,MUK LUKS,2018-01-03T05:21:54Z,Grey,47.00,35.25,Walmart.com
2,AVpi74XfLJeJML43qZAc,MUK LUKS,2018-01-03T05:21:54Z,Grey,35.25,35.25,Slippers Dot Com
3,AVpjXyCc1cnluZ0-V-Gj,MUK LUKS,2018-01-04T11:52:35Z,Black,24.75,24.75,Slippers Dot Com
4,AVphGKLPilAPnD_x1Nrm,MUK LUKS,2018-01-18T03:55:18Z,Grey,33.00,30.39,Walmart.com

<h1>Data cleaning</h1>

In [6]:
    shoesLight.dtypes

id                   object
brand                object
dateUpdated          object
colors               object
prices.amountMax    float64
prices.amountMin    float64
prices.merchant      object
dtype: object

<p> dateUpdated doit être de type datetime64: correction avec dt</p>
<p> colors doit etre converti en liste</p>

In [7]:
shoesLight.isnull()

,id,brand,dateUpdated,colors,prices.amountMax,prices.amountMin,prices.merchant
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
9995,False,False,False,False,False,False,False
9996,False,False,False,False,False,False,False
9997,False,False,False,False,False,False,False
9998,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False

In [8]:
shoesLight.isnull().sum()

id                     0
brand                  0
dateUpdated            0
colors              7369
prices.amountMax       0
prices.amountMin       0
prices.merchant     9565
dtype: int64

In [9]:
shoesLight.isnull().sum()/len(shoesLight)

id                  0.0000
brand               0.0000
dateUpdated         0.0000
colors              0.7369
prices.amountMax    0.0000
prices.amountMin    0.0000
prices.merchant     0.9565
dtype: float64

In [10]:
shoesLight.dropna(axis=0, inplace=True)

<ipython-input-10-de9131b62e1e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shoesLight.dropna(axis=0, inplace=True)

In [11]:
shoesLight.dtypes

id                   object
brand                object
dateUpdated          object
colors               object
prices.amountMax    float64
prices.amountMin    float64
prices.merchant      object
dtype: object

In [12]:
shoesLight['dateUpdated'] = pd.to_datetime(shoesLight['dateUpdated'])

<ipython-input-12-1fe463821fb4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shoesLight['dateUpdated'] = pd.to_datetime(shoesLight['dateUpdated'])

In [13]:
shoesLight.dtypes

id                               object
brand                            object
dateUpdated         datetime64[ns, UTC]
colors                           object
prices.amountMax                float64
prices.amountMin                float64
prices.merchant                  object
dtype: object

In [14]:
shoesLight.isnull().sum()

id                  0
brand               0
dateUpdated         0
colors              0
prices.amountMax    0
prices.amountMin    0
prices.merchant     0
dtype: int64

<h1>Features Modeling</h1>

In [15]:
amountAverage=(shoesLight["prices.amountMax"]+shoesLight["prices.amountMin"])/2
shoesLight["prices.amountAverage"]=amountAverage

<ipython-input-15-4bf0f1c61d9b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shoesLight["prices.amountAverage"]=amountAverage

In [16]:
shoesLight.head()

,id,brand,dateUpdated,colors,prices.amountMax,prices.amountMin,prices.merchant,prices.amountAverage
0,AVpfEf_hLJeJML431ueH,Naturalizer,2018-01-29 04:38:43+00:00,"Silver,Cream Watercolor Floral",55.99,55.99,Overstock.com,55.990
1,AVpi74XfLJeJML43qZAc,MUK LUKS,2018-01-03 05:21:54+00:00,Grey,47.00,35.25,Walmart.com,41.125
2,AVpi74XfLJeJML43qZAc,MUK LUKS,2018-01-03 05:21:54+00:00,Grey,35.25,35.25,Slippers Dot Com,35.250
3,AVpjXyCc1cnluZ0-V-Gj,MUK LUKS,2018-01-04 11:52:35+00:00,Black,24.75,24.75,Slippers Dot Com,24.750
4,AVphGKLPilAPnD_x1Nrm,MUK LUKS,2018-01-18 03:55:18+00:00,Grey,33.00,30.39,Walmart.com,31.695

In [17]:
days={0:"sunday",
      1:"monday",
      2:"tuesday",
      3:"wednesday",
      4:"thursday",
      5:"friday",
      6:"saturday"
     }

In [29]:
shoesLight["dayOfweekUpdated"]=shoesLight["dateUpdated"].dt.weekday

<ipython-input-29-8699d5443e33>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shoesLight["dayOfweekUpdated"]=shoesLight["dateUpdated"].dt.weekday

In [30]:
shoesLight.head()

,id,brand,dateUpdated,colors,prices.amountMax,prices.amountMin,prices.merchant,prices.amountAverage,dayOfweekUpdated
0,AVpfEf_hLJeJML431ueH,Naturalizer,2018-01-29 04:38:43+00:00,"Silver,Cream Watercolor Floral",55.99,55.99,Overstock.com,55.990,0
1,AVpi74XfLJeJML43qZAc,MUK LUKS,2018-01-03 05:21:54+00:00,Grey,47.00,35.25,Walmart.com,41.125,2
2,AVpi74XfLJeJML43qZAc,MUK LUKS,2018-01-03 05:21:54+00:00,Grey,35.25,35.25,Slippers Dot Com,35.250,2
3,AVpjXyCc1cnluZ0-V-Gj,MUK LUKS,2018-01-04 11:52:35+00:00,Black,24.75,24.75,Slippers Dot Com,24.750,3
4,AVphGKLPilAPnD_x1Nrm,MUK LUKS,2018-01-18 03:55:18+00:00,Grey,33.00,30.39,Walmart.com,31.695,3

In [33]:
shoesLight["dateUpdated"].dt.weekday.value_counts()

1    121
5    112
4     85
0     39
3     34
2     24
6     20
Name: dateUpdated, dtype: int64

<h1>Data analysis </h1>

In [20]:
shoesLight["prices.amountAverage"].describe()

count    435.000000
mean      95.785460
std       39.405099
min        5.375000
25%       67.950000
50%       99.950000
75%      119.960000
max      179.950000
Name: prices.amountAverage, dtype: float64

In [23]:
luxe=shoesLight[['prices.amountAverage','brand']].groupby('brand').mean().sort_values(['prices.amountAverage'],ascending=False).head(10)

In [24]:
luxe

              prices.amountAverage
brand
Free People             178.000000
On Footwear             159.990000
MLB                     151.240000
Arc'teryx               150.166667
La Sportiva             149.437500
Frye                    149.322500
Lowa                    146.392857
SoftWalk                145.950000
Scarpa                  145.337500
Hoka One One            144.235714

In [25]:
lowcost=shoesLight[['prices.amountAverage','brand']].groupby('brand').mean().sort_values(['prices.amountAverage'],ascending=True).head(10)

In [26]:
lowcost

                 prices.amountAverage
brand
Unbranded                    6.803333
Soft Ones                   10.950000
Faded Glory                 13.381250
Victoria K.                 15.880000
Genuine Dickies             16.925000
Earth Spirit                18.100000
Danskin Now                 19.740000
Riverberry                  24.990000
Mo Mo                       25.046667
Carrini                     27.700000